{% extends 'base.html.twig' %}

{% block title %}O'Ciné{% endblock %}

{% block body %}

    <div class="title">
        <h2>Movies <i class="fas fa-film"></i></h2>
    </div>  

    <div class ="container">
        {% for movie in movies %}
            <a href="{{path('movie_show', {id: movie.id}) }}">
                <div class = "card" >
                    <h2>{{movie.title}}</h2>
                </div>
            </a>
        {% endfor %}
    </div>
    

{% endblock %}
