
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
    font-weight: 300;
}

  /*============//
 //    NAV     //
//============*/

header {
    height: 100%;
    width: 100%;
    float: left;
    background:linear-gradient(to bottom right, #ffdc6a, #f1c26a);
    padding: 0 2rem;
    color: #fff;
    box-shadow:0 2px 5px #43719b91;
    margin-bottom: 1.5rem;
}

.subnav{
    height: 100%;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    flex: auto;
    gap: 1rem;
    font-size: 1rem;
    padding-bottom: 0.5rem;
}

.subnav a{
    color:rgb(0, 0, 0);

}
.subnav a:hover{
    text-decoration: underline;
}

.brand-logo {
    max-width: 5rem;
    float: left;
    padding: 1rem 0;
}

.brand-logo img {
    max-width: 100%;
}

.brand-name {
    display: flex;
    float: left;
    padding: 1.5rem 1rem 0 0;
    font-size: 1.75rem;
    margin-left: 1rem;
}

h1 {

    font-family: 'Dela Gothic One', cursive;
    font-weight: 400;

}

.navigation {
    margin: 0;
    float: right;
}

.navigation li {
    list-style: none;
    float: left;
}

.navigation li a {
    color: #fff;
    padding-top: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    display: block;
    text-decoration: none;
}

.navigation li a i {
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.show-menu-btn,
.hide-menu-btn {
    transition: 0.4s;
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
}


.show-menu-btn {
    margin: 0;
    float: right;
}

.show-menu-btn i {
    line-height: 7rem;
}

.navigation a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
    color: #000000;
}

#toggle-btn {
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}

/*-- Responsive CSS --*/
@media screen and (max-width:900px) {

    .show-menu-btn,
    .hide-menu-btn {
        display: block;
    }


    .navigation {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #f1c26a;
        top: -100%;
        left: 0;
        padding: 8rem 0;
        transition: 1s;
    }

    .navigation li {
        width: 100%;
    }

    .navigation li a {
        text-align: center;
    }

    .navigation li a i {
        width: 100%;
        font-size: 3rem;
    }

    .hide-menu-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    #toggle-btn:checked~nav .navigation {
        top: 0;
    }

    li > .search-container {
        display: none;
    }

}

  /*============//
 //    BODY    //
//============*/

main > .container {
    margin: 0 4rem;
}

/*--- pour fixer le footer en bas de page ----*/
html{
    height:100%;
  }

body{
    position: relative;
    height:100%;
}
#wrap {
    min-height:100%;
    position: relative;    
}

main{
    padding-bottom : 7rem;
}

footer {
    position: absolute;
    bottom : 0;
    width : 100%;
    padding : 2rem;
    background-color:#43709b25;    
}
/*----------------------------------------*/

.alert {

    text-align: center;
    box-shadow: inset 2px 2px 7px #43709b62;
    padding : 0.5rem;
}
.alert-success{
    background-color: #ecffee;
    color : rgb(0, 197, 0);
}
.alert-warning{
    background-color: #ffecec;
    color : rgb(197, 0, 0);
}

.score {
    color: #FECC00;
    font-size: 1.5rem;
    font-weight: bold;
    height: 1rem;
    margin-top: 1rem;
}
.score img {
    background: #f1f1f1 url('/images/stars-bg.png') no-repeat;
    margin-right: 0.5rem;
    vertical-align: baseline;
}

.card {
    display: flex;
    border-radius: 1rem;
    box-shadow: 2px 2px 7px #43719b91;
    margin: 0.5rem;
    padding : 1rem;
    text-align: center;
}

.card-btn {
    margin: 1rem;
    padding : 0.5rem;
}

.card:hover {
    background: #ffdc6a;
}

a {
    color: black;
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    font-family: 'Quicksand', sans-serif;
}

.container-read {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.description {
    margin: 1rem;
}

.description label {
    display: block;
}

.description textarea {
    width: 100%;
    min-height: 5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.25rem;
    padding-left : 1rem;
    padding-right : 1rem;
    border: solid 1px;
    border-radius: 1rem;
    outline: none;
}

#user_roles {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
#user_roles > input {

    position: absolute;
    margin-top: 3px;
}
#user_roles > label {
    display: block;
    margin-left : 2rem;
    margin-bottom: 0.5rem;

}

#movie_genres {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
#movie_genres > input {

    position: absolute;
    margin-top: 3px;
}
#movie_genres > label {
    display: block;
    margin-left : 2rem;
    margin-bottom: 0.5rem;

}

#review_reactions {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    align-items: center;
}
#review_reactions > input {

    position: absolute;
    margin-top: 3px;
}
#review_reactions > label {
    display: block;
    margin-left : 2rem;
    margin-bottom: 0.5rem;

}

.card-review {
    max-width: 25%;
    border-radius: 1rem;
    box-shadow: 2px 2px 7px #43719b91;
    margin: 0.5rem;
    padding : 1rem;
    word-wrap: break-word;
}

.poster img {
    width: 250px;
    margin: 1rem;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 0 #f1c26a, 12px 12px 0 black;  
}

.title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.75rem;
}

main input , main select{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.25rem;
    padding-left : 1rem;
    padding-right : 1rem;
    border: solid 1px;
    border-radius: 1rem;
    background-color: unset;
    outline: none;
}

.button-validate{
    margin-top: 1rem;
    padding: 0.5rem;
    box-shadow: 7px 7px 0 -2px #000000;
    outline: none;
}

.button-validate:hover {
    background: #ffdc6a;
    cursor: pointer;
}

.button-edit:hover {
    background: #38a7e7;
    color: white;
    cursor: pointer;
}
.button-delete:hover {
    background: #e63131;
    color: white;
    cursor: pointer;
}
.button-index{
    margin-top: -2.5rem;
    margin-bottom: 2rem;
    box-shadow: 2px 2px 7px #43709b3b;

}

.form-center {
    display: block;
    text-align: center;
}

  /*==================//
 //    SEARCH-NAV    //
//==================*/

.search-container{
    background: #fff;
    height: 2rem;
    border-radius: 1rem;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    cursor: pointer;
    transition: 0.8s;
    box-shadow: inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
    margin-top : 2rem;
    margin-left: 0.5rem;
    
}

.search-container:hover > .search-input{
    width: 5rem;
}

.search-container .search-input{
    background: transparent;
    border: none;
    outline: none;
    width: 0;
    font-weight: 500;
    font-size: 1rem;
    transition: 0.8s;
}

.search-container .search-btn{
    padding-top: 0.8rem;
}
.search-container .search-btn .fas{
    color: #f1c26a;

}

.search-container:hover{
  padding-left : 1.5rem; 
}

.navigation li a.active {
    color: #000000;
} 

  /*==================//
 //      TABLEAU     //
//==================*/

  table {
    border-spacing: 1;
    border-collapse: collapse;
    background: #fff3cf;
    border-radius: 10px;
    overflow: hidden;
    width: 80%;
    margin : 0 auto;
    position: relative;
    margin-bottom: 4rem;
  }

  table td, table th {
    padding-left: 1rem;
  }
  table thead tr {
    height: 3rem;
    background: #000000;
    color: white;
  }
  table tbody tr {
    height: 2.5rem;
  }
  table tbody tr:last-child {
    border: 0;
  }
  table td, table th {
    text-align: left;
  }
  table td.l, table th.l {
    text-align: right;
  }
  table td.c, table th.c {
    text-align: center;
  }
  table td.r, table th.r {
    text-align: center;
  }
  
  tbody tr:nth-child(even) {
    background-color: #fff8e3;
  }
  
  tbody tr {
    font-size: 1rem;
    color: #808080;
  }
  
  tbody tr:hover {
    color: #555555;
    background-color: #ffe9a0;
  }
  



  