{% extends 'base.html.twig' %}

{% block title %}O'Ciné{% endblock %}

{% block body %}

    <div class="title">
        <h2>Add Casting</h2>
    </div>  

    <div class = "container-read description">

        <form class="form" method="post">
            <p>New role</p>
            <input type="text" class="form-control" id="role" name="role" placeholder="ex : Forrest Gump">
            <br>
            <p>Credit order</p>
            <select type="int" id="credit_order" name="credit_order">
                <option value="">--select--</option>
                <option value='1'>1</option>
                <option value='2'>2</option>
                <option value='3'>3</option>
                <option value='4'>4</option>
                <option value='5'>5</option>
                <option value='6'>6</option>
                <option value='7'>7</option>
                <option value='8'>8</option>
                <option value='9'>9</option>
                <option value='10'>10</option>
            </select>
            <br>

            <button class="button-validate" type="submit">Validate</button>
            </form>   

    </div>
    
{% endblock %}
