{% extends 'base.html.twig' %}

{% block title %}O'Ciné{% endblock %}

{% block menu_active %}active{% endblock %}
{% block menu_logout %}out-alt{% endblock %}

{% block body %}

    <div class="title">
        <h2>Add Person</h2>
    </div>  

    <div class = "container-read description">
        
        <form class="form" method="post">
            <p>Firstname</p>
            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="ex : Leonardo">
            <br>
            <p>Lastname</p>
            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="ex : DiCaprio">
            <br>

            <button class="button-validate" type="submit">Validate</button>
        </form>

    </div>
    
{% endblock %}
