{% extends 'base.html.twig' %}

{% block title %}O'Ciné{% endblock %}

{% block body %}


    <div class="title">
        <h2>All Movies <i class="fas fa-film"></i></h2>
            <a href="{{path('back_movie_add')}}" ><button class="button-validate" >
                <h3>Add Movie</h3>
           </button> </a>
    </div>  
    
    <div class ="container">
        {% for movie in movies %}
            <a href="{{path('back_movie_read', {id: movie.id}) }}">
                <div class = "card" >
                   <h2> {{movie.title}}</h2>
                </div>
            </a>
        {% endfor %}
    </div>
    

{% endblock %}
