{% extends 'base.html.twig' %}

{% block title %}O'Ciné{% endblock %}

{% block body %}

    <div class="title">
        <h2>Genre</h2>
    </div>  

    <div class = "container-read description">
        
        <form class="form" method="post">
        
        <p>New genre</p>
        <input type="text" class="form-control" id="name" name="name" placeholder="ex : Comédie">
        <br>
   
        <button  class="button-validate" type="submit">Validate</button>
        
        </form>
        
    </div>
    
{% endblock %}
