{% extends 'base.html.twig' %}

{% block title %}O'Ciné{% endblock %}

{% block body %}

    <div class="title">
        <h2>Genre</h2>
    </div>  

    <div class = "container-read">

        <div class = "description">
            <p>New genre</p>
            <form action=""><input type="text" placeholder="ex : Comédie"></form>
            <br>
            
            <button type="submit">Validate</button>
        </div>

    </div>
    
{% endblock %}
