{% extends 'base.html.twig' %}

{% block title %}O'Ciné{% endblock %}

{% block body %}

    <div class="title">
        <h2>Add</h2>
    </div>  

    <div class ="container">
        
        <a href="{{path('add_movie')}}">
            <div class = "card" >
                <h2>Movie</h2>
            </div>
        </a>

        
        <a href="{{path('add_casting')}}">
            <div class = "card" >
                <h2>Casting</h2>
            </div>
        </a>

        <a href="{{path('add_person')}}">
            <div class = "card" >
                <h2>Person</h2>
            </div>
        </a>

        
        <a href="{{path('add_genre')}}">
            <div class = "card" >
                <h2>Genre</h2>
            </div>
        </a>


    </div>
{% endblock %}
