{% extends 'base.html.twig' %}

{% block title %}O'Ciné{% endblock %}

{% block body %}

    <div class="title">
        <h2>Add Movie</h2>
    </div>  

    <div class = "container-read">

        <div class = "description">
            <p>Title</p>
            <form action=""><input type="text" placeholder="ex : Titanic"></form>
            <br>
            <p>Duration</p>
            <form action=""><input type="text" placeholder="HH:mm:ss"></form>
            <br>
            <p>Poster</p>
            <form action=""><input type="text" placeholder="url"></form>
            <br>
            <p>Genre</p>
            <select name="genre" type="int" id="">
                <option value="">--select--</option>
                {% for genre in genres %}
                <option value="{{genre.name}}">{{genre.name}}</option>    
                {% endfor %}
            </select>
            <br><br>

            <button type="submit">Validate</button>
        </div>

    </div>
    
{% endblock %}
