{% extends 'base.html.twig' %}

{% block title %}O'Ciné{% endblock %}

{% block body %}

    <div class="title">
        <h2>Add Person</h2>
    </div>  

    <div class = "container-read">

        <div class = "description">
            <p>Firstname</p>
            <form action=""><input type="text" placeholder="ex : Leonardo"></form>
            <br>
            <p>Lastname</p>
            <form action=""><input type="text" placeholder="ex : DiCaprio"></form>
            <br>

            <button type="submit">Validate</button>
        </div>

    </div>
    
{% endblock %}
