{% extends 'base.html.twig' %}

{% block title %}O'Ciné{% endblock %}

{% block body %}

    <div class="title">
        <h2>{{movie.title}}</h2>
    </div>          

    <div class ="container-read">
        <div class="description">

{{ form_start(form) }}
{{ form_end(form) }}
            <a href="">
                <div class = "container card card-btn" >
                    <h3>Validate</h3>
                </div>
            </a>
        </div>

        {% if movie.poster is not null %}
            <div class="poster">
                <img src="{{ asset('images/default-movie.jpg') }}">
            </div>
        {% endif %}

    </div>

{% endblock %}
