{% extends 'base.html.twig' %}

{% block title %}O'Ciné{% endblock %}

{% block body %}

    <div class="title">
        <h2>{{movie.title}}</h2>
    </div>          

    <div class ="container-read">
        <div class="description">

{% include "/front/main/_form_add_review.html.twig" %}

        </div>

        {% if movie.poster is not null %}
            <div class="poster">
                <img src="{{ asset('/images/default-movie.jpg') }}">
            </div>
        {% endif %}

    </div>

{% endblock %}
