{% extends 'base.html.twig' %}

{% block title %}O'Ciné{% endblock %}

{% block body %}
  
    <div class="title">
        <h2>Welcome in the BACK!</h2>
    </div>  

    <div class ="container">
        
        <a href="{{path('back_movie_browse')}}">
            <div class = "card" >
                <h2>Movies</h2>
            </div>
        </a>

        
        <a href="">
            <div class = "card" >
                <h2>Castings</h2>
            </div>
        </a>

        <a href="">
            <div class = "card" >
                <h2>Persons</h2>
            </div>
        </a>

        
        <a href="">
            <div class = "card" >
                <h2>Genres</h2>
            </div>
        </a>

        
        <a href="{{path('back_job_index')}}">
            <div class = "card" >
                <h2>Jobs</h2>
            </div>
        </a>
        
        <a href="">
            <div class = "card" >
                <h2>Departments</h2>
            </div>
        </a>

        <a href="{{path('back_user_index')}}">
            <div class = "card" >
                <h2>Users</h2>
            </div>
        </a>

    </div>
{% endblock %}
