{% block subnav %}
<sub class = "subnav">
    <a href="{{path('back_movie_browse')}}">
        Movies
    </a>
    
    <a href="">
        Castings
    </a>

    <a href="">
        Persons
    </a>
    
    <a href="">
        Genres
    </a>

    <a href="{{path('back_job_index')}}">
        Jobs
    </a>
    
    <a href="">
        Departments
    </a>

    <a href="{{path('back_user_index')}}">
        Users
    </a>
</sub>
{% endblock %}

