{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block menu_active %}active{% endblock %}
{% block menu_logout %}out-alt{% endblock %}

{% block body %}
    <h1>Create new User</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('back_user_index') }}">back to list</a>
{% endblock %}
